.canvas {
    width: 100%;
    background-color: white;
    border: 1px #000 solid;
    position: relative;
}
.color-square {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    float: left;
}